<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Robot Directory</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <h1>Robot Directory</h1>
  <a href="/"><h5>Home</h5></a>

  <div class="robots">
    {{#robots}}

      <img class="radius" src= {{avatar}}></a>
      <div class="right">
        <h1 class="name">{{name}}</h1>
        <p><b>Education: </b> {{university}}</p>
        <p><b>Skills: </b> {{skills}}</p>
        <p>{{address.country}} | {{job}}</p>
        <p>{{email}} | {{phone}}</p>
      </div>

    {{/robots}}
  </div>



</body>

</html>
